@charset "utf-8";
/****************************************************************************/
/*登录容器*/
#login_container{
	width:1000px;
	height:420px;
	margin:0 auto;
	position:relative;
	top:145px;
}
/*登录容器左侧内容*/
#login_container #login_left{
	width:650px;
	height:420px;
	float:left;
	background-image:url(../images/home.jpg);
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}
#login_container #login_left h1{
	margin:0px;
	padding-top:150px;
	text-align:center;
	color:white;
	font-family:'微软雅黑';
	font-size:30px;
}
/*登录容器右侧内容*/
#login_container #login_right{
	width:350px;
	height:420px;
	float:left;
}
/*右侧的表格*/
#login_container #login_right #logincontent{
	width:350px;
	height:420px;
	background-color:white;
}
#logincontent h2{ 
	width:300px;
	height: 26px;
	margin:0 auto;
	padding-top:40px;
	font-family:'微软雅黑';
	font-size:20px;
}
/*错误提示信息*/
#logincontent #error_message{
	width:300px;
	margin:0 auto;
	padding-top: 10px;
	height: 20px;
	font-family:'微软雅黑';
	font-size:16px;
	color: #ef7662;
}
/*用户名*/
#logincontent #login_user{
	width:300px;
	height:50px;
	margin:30px auto;
	margin-top: 25px;
	background-image:url(../images/login_user.PNG);
	background-repeat:no-repeat;
	background-size:contain;
	border:1px grey solid;
	transition:border 0.4s ease;
}
#logincontent #login_user:hover{
	border:1px solid blue;
}
#logincontent #login_user #loginuser{
	width:250px;
	height:45px;
	position:relative;
	left:50px;
	line-height:45px;
	font-family:'微软雅黑';
	font-size:16px;
	outline:none;
	border:none;
}
/*密码*/
#logincontent #login_pwd{
	width:300px;
	height:50px;
	margin:30px auto;
	background-image:url(../images/login_pwd.PNG);
	background-repeat:no-repeat;
	background-size:contain;
	border:1px grey solid;
	transition:border 0.4s ease;
}
#logincontent #login_pwd:hover{
	border:1px solid blue;
}
#logincontent #login_pwd #loginpwd{
	width:250px;
	height:45px;
	position:relative;
	left:50px;
	line-height:45px;
	font-family:'微软雅黑';
	font-size:16px;
	outline:none;
	border:none;
}
/*注册*/
#logincontent #registernow{
	display:block;
	width:300px;
	text-align:right;
	margin:0 auto;
	text-decoration:none;
	color:grey;
	font-family:'微软雅黑';
}
#logincontent #registernow:hover{
	color:#547abb;
	text-decoration:underline;
}
/*登录*/
#logincontent #loginsubmit{
	display:block;
	width:300px;
	height:50px;
	border:none;
	margin:30px auto;
	background-color:#547abb;
	color:white;
	font-family:'微软雅黑';
	font-size:18px;
	transition:background-color 0.4s ease;
}
#logincontent #loginsubmit:hover{
	background-color:#ef7662;
}
/************************************************************************/
/*footer*/
#footer{
	position:relative;
	top:220px;
}

