@charset "utf-8";
/****************************************************************************/
/*logined_admin_container*/
#logined_admin_container{
    width:1100px;
    background-color:#FDFDFD;
    margin:0 auto;
    position:relative;
    top:120px;
    box-shadow: -10px 10px 10px #CCCCCC;
    border-radius:5px;
}

/*录入产品区域inputProduct begin*/
#inputProduct{
    width:1100px;
    height:150px;
    font-family:'微软雅黑';
    padding-top: 50px;
}
/*录入产品区域中录入产品表单*/
#inputProductForm{
    border-top: dashed grey 1px;
    border-bottom: dashed grey 1px;
    width:1040px;
    margin:0 auto;
}
#inputProductForm table{
    width:1040px;
}
#inputProductForm table td{
    text-align: center;
}
/*除了产品图片之外的Input*/
#inputProductForm input[type="text"]{
    width:120px;
    height:26px;
    border-radius:5px;
    border:1px grey solid;
    font-size:16px;
    text-align: center;
}
/*产品图片*/
#inputProductForm input[type="file"]{
    width:120px;
    height:26px;
    border-radius:5px;
    border:1px grey solid;
    font-size:16px;
    text-align: center;
}
/*重置按钮*/
#inputProductReset{
    margin-top: 10px;
    margin-bottom: 10px;
    width:120px;
    height:26px;
    border:none;
    background-color:#ef7662;
    font-family:'微软雅黑';
    color:white;
    font-size:16px;
    border-radius:5px;
    transition:background-color 0.4s ease,color 0.4s ease,border 0.4s ease;
}
#inputProductReset:hover{
    background-color:white;
    color:black;
    border:1px solid black;
}
/*提交按钮*/
#inputProductSubmit{
    margin-top: 10px;
    margin-bottom: 10px;
    width:120px;
    height:26px;
    border:none;
    background-color:#547abb;
    font-family:'微软雅黑';
    color:white;
    font-size:16px;
    border-radius:5px;
    transition:background-color 0.4s ease,color 0.4s ease,border 0.4s ease;
}
#inputProductSubmit:hover{
    background-color:white;
    color:black;
    border:1px solid black;
}
/*录入产品区域inputProduct end*/

/*显示admin所录入的所有产品 begin*/
#showAllProduct{
    width:1040px;
    margin: 0 auto;
    padding-top: 40px;
}
#showAllProduct table{
    margin: 0 auto;
}
#showAllProduct table th{
    border-top:1px dashed grey;
    border-bottom:1px dashed grey;
}
#showAllProduct table td{
    text-align: center;
    width:130px;
}
#showAllProduct table td img{
    width:130px;
    height: 100px;
}
/*显示admin所录入的所有产品 end*/

/*button_container  begin*/
#button_container{
    width:450px;
    height: 35px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
/*上一页按钮*/
#toLast{
    width:70px;
    height:35px;
    border:none;
    font-family:'微软雅黑';
    font-size:16px;
    color:#666;
    border-radius:5px;
    background-color:#ededed;
    transition:background-color 0.4s ease;
    outline:none;
    float: left;
}
#toLast:hover{
    background-color:#FDFDFD;
}
/*下一页按钮*/
#toNext{
    width:70px;
    height:35px;
    border:none;
    font-family:'微软雅黑';
    font-size:16px;
    color:#666;
    border-radius:5px;
    background-color:#ededed;
    transition:background-color 0.4s ease;
    outline:none;
    float: right;
}
#toNext:hover{
    background-color:#FDFDFD;
}
/*button_container  end*/

/************************************************************************/
/*footer*/
#footer{
    position:relative;
    top:220px;
}